body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/*navbar*/
.navigation-1{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
  	align-items: center;
	z-index: 999;
	/*background-color: white;*/
}

.navbar-background-1{
	background-color: #ffff;
}

.logo {
    float: left;
}

.logo-size{
	height: 75px;
	width: 100px;
}

.navigation-menu-1 {
	float: right;
	/*margin-right: 90px;*/
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.navigation-menu-1 li {
    display: inline;
    list-style-type: none;
	margin-left: 35px;
}

.link-navigation-1-aktif{
	color: #B45600;
}

.link-navigation-1-aktif:hover{
	color: #B45600;
	padding-bottom: 5px;
}

a{
	text-decoration: none;
}

.link-navigation-1{
	color: black;
}

.link-navigation-1:hover{
	color: #B45600;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #B45600;*/
}

/*Jumbotron*/
.jumbotron-1{
    background-image: url(../pict/fatahillah.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

/*Content*/
.content-main{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 1250px;
	margin: 10px auto;
	/*background-color: blue;*/
	/*background-color: yellow;*/
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 25px;
	padding-left: 25px;
}

/*.isi-content{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}*/

.judul-main{
	margin-bottom: 30px;
}

.judul-main h1{
	color: #B45600;
	font-weight: bold;
}

.float-left-1{
	width: 800px;
	border-right: 1px solid rgb(199, 199, 199);
}

.content-article{
	margin-right: 50px;
}

.content-article p{
	text-align: justify; 
}

/*Creator*/
.creator p{
	font-style: italic;
	font-size: 14px;
}

.float-right-1{
	width: 400px;
	float: right;
}

/*Profil penulis*/
.card-nama{
	margin-left: 20px;
	/*background-color: aquamarine;*/
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.card-nama h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.card-nama img{
	height: 90px;
	width: 90px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}

.card-nama h4{
	font-size: 16px;
	font-weight: bold;
}

.card-nama p{
	font-size: 13px;
	text-align: justify; 
}

hr{
	margin-left: 50px;
}

/*Artikel lainnya*/
.content-article-liyane{
	margin-left: 20px;
	/*background-color: yellow;*/
	padding-left: 10px;
	padding-right: 10px;
	/*text-align: justify;*/
}

.content-article-liyane h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
}

.picture-content-wisata img{
	width: 110px;
	height: 110px;
	border-radius: 10px;
}

.content-wisata{
	display: flex;
	margin-bottom: 20px;
}

.text-content-wisata{
	margin-left: 15px;
	margin-top: -6px;
}

.tagg{
	display: inline-flex;
	font-size: 8px;
}

.tag-1 p{
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 2px 5px;
	background-color: #D9D9D9;
	border-radius: 5px;
}

.tag-2 p{
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 2px 5px;
	background-color: #D9D9D9;
	border-radius: 5px;
}

.judul-content a h2{
	font-weight: bold;
	font-size: 16px;
	color: black;
	margin-bottom: 5px;
}

.judul-content a h2:hover{
	color: #B45600;
}

.text-content-main p{
	font-size: 10px;
	margin-bottom: 5px;
}

.text-content-main p a{
	font-style: italic;
	text-decoration: none;
	color: rgb(0, 88, 88);
}

.text-content-main p a:hover{
	font-style: italic;
	text-decoration: none;
	color: #B45600;
}

/*Tags*/
.tag-artikel{
	margin-left: 20px;
	/*background-color: yellow;*/
	padding-left: 10px;
	padding-right: 10px;
}

.tag-artikel h2{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}

.tag-artikel .tagg .tag-1 p{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #B45600;
	color: antiquewhite;
}

/*Komentar*/
.comment{
	margin-top: 50px;
}

.comment h2{
	font-size: 24px;
	font-weight: bold;
}

.comment-name{
	margin-top: 20px;
}

.comment-name p{
	margin-bottom: 15px;
	font-size: 18px;
}

.inputan{
	margin-top: 10px;
	width: 800px;
	padding: 10px;
	border-radius: 10px;
	border:2px solid #B45600;
	color: #000000;
	outline: none;
	font-size: 16px;
}

.inputan:focus{
	border: 2px solid #663b1d;
}

.comment-name textarea{
	margin-top: 10px;
	resize: none;
	width: 800px;
	height: 100px;
	padding: 10px;
	border-radius: 10px;
	border:2px solid #B45600;
	color: #000000;
	outline: none;
	font-size: 16px;
}

.comment-name textarea:focus{
	border: 2px solid #663b1d;
}

/*Tombol kirim*/
.send-button-float{
	width: 800px;
}

.send-button{
	float: right;
	margin-left: 10px;
	height: 36px;
	width: 100px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #B45600;
	border-radius: 15px;
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	color: white;
	border: none;
}

.send-button:hover{
	background-color: #663b1d;
}

.send-button:active{
	outline-style: solid;
	outline-color: #965628;
	outline-width: 3px;
}

/*Footer*/
.footer{
	position: fixed;
	bottom: 0;
}

.footer-distributed{
	background-color: blanchedalmond;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: thin 16px sans-serif;
	padding: 50px 50px 20px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .logo-size-footer{
	height: 125px;
	width: 150px;
}


/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
	text-align: center;
	margin: 10px 10px;
}

.footer-distributed .footer-center i{
	font-size: 30px;
	width: 40px;
	height: 40px;
	text-align: center;
	margin: 10px 10px;
	vertical-align: middle;
	color:rgb(238, 203, 151);
}

.footer-distributed .footer-center i:hover{
	color: #965628;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
	margin-left: -120px;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
	text-align: center;
	margin: 40px 10px;
}

/*.fixed-footer {
    width: 100%;
    position: relative;
    background:blanchedalmond;
    margin: 0 10px 0 0;
    padding: 10px 0;
    color: black;
    text-align: center;
  }
  .fixed-footer {
    bottom: 0;
  }*/

.fixed-footer{
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 25px;
}

/*Form Footer*/
.form-email{
	width: 235px;
	height: 36px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 10px;
	text-decoration: none;
	border: none;
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	color: #965628;
}

.form-email:focus{
	outline-style: solid;
	outline-color: #965628;
	outline-width: 3px;
}

/*form button*/
.form-button{
	margin-left: 10px;
	height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #965628;
	border-radius: 15px;
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	color: white;
	border:none;
}

.form-button:hover{
	background-color: #663b1d;
}

.form-button:focus{
	outline-style: solid;
	outline-color: #965628;
	outline-width: 3px;
}