body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #ffff;
	;
}

/*navbar*/
.navigation-1{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
  	align-items: center;
	z-index: 999;
	/*background-color: white;*/
}

.navbar-background-1{
	background-color: #ffff;
}

.logo {
    float: left;
}

.logo-size{
	height: 75px;
	width: 100px;
}

.navigation-menu-1 {
	float: right;
	/*margin-right: 90px;*/
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.navigation-menu-1 li {
    display: inline;
    list-style-type: none;
	margin-left: 35px;
}

a{
	text-decoration: none;
}

.link-navigation-1{
	color: black;
}

.link-navigation-1:hover{
	color: #B45600;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #B45600;*/
}

/*Jumbotron*/
.jumbotron-1{
    background-image: url(../pict/fatahillah.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

/*Content*/
.content-main{
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	width: 1250px;
	margin: 10px auto;
	background-color: white;
	/*background-color: yellow;*/
	padding: 50px;
}

/*.isi-content{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}*/

.judul-main{
	margin-bottom: 30px;
}

.float-left-1{
	width: 800px;
	border-right: 1px solid rgb(199, 199, 199);
}

.content-article{
	margin-right: 50px;
}

.content-article p{
	text-align: justify; 
}

/*Creator*/
.creator p{
	font-style: italic;
	font-size: 14px;
}

.float-right-1{
	width: 350px;
	float: right;
}

.card-nama{
	margin-left: 50px;
	/*background-color: aquamarine;*/
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.card-nama h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
}

.card-nama img{
	height: 90px;
	width: 90px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}

.card-nama p{
	font-size: 13px;
	text-align: justify; 
}

hr{
	margin-left: 50px;
}