/*body*/
body{
	font-family: 'EB Garamond', serif;
	background-color: rgb(221, 221, 221);
}

/*Navbar*/
.navigation-1{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
  	align-items: center;
	z-index: 999;
	/*background-color: white;*/
}

.navbar-background-1{
	background-color: #ffff;
}

.logo {
    float: left;
}

.logo-size{
	height: 75px;
	width: 100px;
}

.navigation-menu-1 {
	float: right;
	/*margin-right: 90px;*/
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.navigation-menu-1 li {
    display: inline;
    list-style-type: none;
	margin-left: 35px;
}

.link-navigation-1-aktif{
	color: #B45600;
}

.link-navigation-1-aktif:hover{
	color: #B45600;
	padding-bottom: 5px;
}

a{
	text-decoration: none;
}

.link-navigation-1{
	color: black;
}

.link-navigation-1:hover{
	color: #B45600;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #B45600;*/
}

/*Jumbotron*/
.jumbotron-1{
    background-image: url(../pict/fatahillah.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

/*Icon Reservasi Tiket*/
.all{
	margin: -100px auto;
	padding: 50px 25px;
	width: 1200px;
	background-color: white;
	border-radius: 10px;
}

.judul h1{
	text-align: center;
	font-weight: 700;
	font-size: 36px;
}

.list-nomor{
	margin: 50px auto;
	text-align: center;
}

.list-nomor ul{
	padding: 0;
}

.list-nomor ul li{
	text-decoration: none;
	display: inline-block;
	width: 300px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 14px;
}

.active-nomor{
	background-color: #B45600;
	color: white;
}

.no-active-nomor{
	background-color: #949494;
	color: rgb(222, 222, 222);
}

/*harga tiket*/
.harga-tiket h3{
	text-align: center;
}

.harga-tiket-tabel table{
	margin: auto;
	margin-top: 25px;
}

table{
	border-collapse: collapse;
	text-align: center;
	width: 800px;
}

td{
	font-size: 16px; 
	border: 1px solid #DEDEDE; 
	padding: 5px 5px; 
	color: #303030;
}

th{
	background-color: #B45600;
	border: 1px solid #DEDEDE;
	color: white;
	padding: 5px;
	font-size: 18px;
	font-weight: 400;
}

/*Cek Harga Tiket*/
form {
	display: grid;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #c1c1c1;
	margin: 2rem auto 0 auto;
	width: 800px;
	padding: 1em;
	grid-template-columns: 200px 1fr;
	grid-gap: 16px;
}

form input {
	background: #fff;
	border: 1px solid #9c9c9c;
}

form .button {
	background: lightgrey;
	padding: 0.7em;
	width: 100%;
	border: 0;
}

form .button:hover {
	background: gold;
}

label {
	grid-column: 1 / 2;
	padding: 0.5em 0.5em 0.5em 0;
}

input, .button {
	grid-column: 2 / 3;
}

.pengunjung{
	padding: 0.7em;
	margin-bottom: 0.5rem;
}

.pengunjung:focus {
	outline: 3px solid gold;
}