body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/*navbar*/
.navbar{
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 15px;
	display: block;
	overflow: hidden;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
  	align-items: center;
	z-index: 999;
	background-color: white;
}

.logo {
    float: left;
}

.logo-size{
	height: 75px;
	width: 100px;
}

.nav-menu {
	float: right;
	margin-right: 75px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.nav-menu li {
    display: inline;
    list-style-type: none;
	margin-left: 35px;
}

/*Jumbotron*/
.jumbotron{
	background-image: url(../pict/landmark_jakarta.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
	margin-top: 75px;
}

.content-jumbotron{
	margin-left: 50px;
	padding-top: 100px;
}