body {
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
	background-color: blanchedalmond;
}

/*navbar*/
.navbar-1{
	font-family: 'EB Garamond', serif;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
  	align-items: center;
	z-index: 999;
	/*background-color: white;*/
}

.navbar-background{
	background-color: white;
}

.logo {
    float: left;
}

.logo-size{
	height: 75px;
	width: 100px;
}

.nav-menu-1 {
	float: right;
	/*margin-right: 90px;*/
	margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.nav-menu-1 li {
    display: inline;
    list-style-type: none;
	margin-left: 35px;
}

a{
	text-decoration: none;
}

.link-nav-1{
	color: black;
}

.link-nav-1:hover{
	color: #B45600;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #B45600;*/
}

.link-nav-1-aktif{
	color: #B45600;
	padding-bottom: 5px;
}

.link-nav-1-aktif:hover{
	color: #B45600;
	padding-bottom: 5px;
}

/*Jumbotron*/
.jumbotron-1{
	background-image: url(../pict/landmark_jakarta.png);
	/*backdrop-filter: drop-shadow(10px 10px 8px black);*/
	/*kenapa ga bisa??*/
	background-size: 1512px 900px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	height: 900px;
	/*margin-top: 75px;*/
}

.content-jumbotron{
	margin-left: 50px;
	padding-top: 150px;
}

.header-1{
	color: #B45600;
}

/*container-fluid*/
.container-fluid{
	padding-top: 100px;
	text-align:center;
	background-color: beige;
	color: rgb(49, 24, 6);
	height: 300px;
	letter-spacing: 5px;
}

.content-container-fluid{
	letter-spacing: normal;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	color: black;
}

/*container-fluid-2*/
.container-fluid-2{
	padding-top: 50px;
	background-color: blanchedalmond;
	height: 700px;
}

.container-fluid-2-content{
	color: rgb(49, 24, 6);
	letter-spacing: 5px;
	margin-left: 50px;
}

.container-fluid-2-content-2{
	padding-top: 75px;
	float: left;
	margin-left: 50px;
}

.peta{
	float: right;
	margin-right: 50px;
}

.peta-size{
	height: 600px;
	width: 600px;
}

.container-fluid-3{
	padding-top: 50px;
	background-color: blanchedalmond;
	height: 700px;
}

.container-fluid-3-content{
	float: right;
	margin-right: 50px;
}

.jakarta_foto{
	float: left;
	margin-left: 50px;
}

.jktfoto-size{
	height: 600px;
	width: 600px;
}

.container-fluid-4{
	padding-top: 50px;
	text-align:center;
	background-color: white;
	height: 300px;
	color: white;
}

.container-fluid-4-content{
	background:  rgba(0, 0, 0, .65) url(../pict/Skyline-Jakarta-Indonesia.jpg);
	background-blend-mode: darken;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 50px;
	height: 200px;
}

.container-fluid-5{
	padding-top: 60px;
	background-color: blanchedalmond;
	height: 650px;
	color: rgb(49, 24, 6);
	letter-spacing: 5px;
	text-align: center;
}

.container-fluid-5-content{
	color: black;
	letter-spacing: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	
}

.container-fluid-6{
	padding-top: 50px;
	text-align:center;
	background-color: white;
	height: 350px;
	color: white;
}

.container-fluid-6-content{
	background:  rgba(0, 0, 0, .65) url(../pict/rumah_penduduk.jpeg);
	background-blend-mode: darken;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 50px;
	height: 250px;
}

.container-fluid-7{
	padding-top: 60px;
	background-color: blanchedalmond;
	height: 650px;
	color: rgb(49, 24, 6);
	letter-spacing: 5px;
	text-align: center;
}

.container-fluid-7-content{
	color: black;
	letter-spacing: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

.container-fluid-8{
	padding-top: 50px;
	background-color: white;
	height: 400px;
	color: white;
}

.container-fluid-8-content{
	background-image: url(../pict/elang_bondol.jpg);
	background-position-y: -200px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 50px;
	height: 300px;
}

.container-fluid-8-content-2{
	text-align:left;
	margin-left: 50px;
}

.container-fluid-9{
	padding-top: 60px;
	background-color: blanchedalmond;
	height: 650px;
	color: rgb(49, 24, 6);
	letter-spacing: 5px;
	text-align: center;
}

.container-fluid-9-content{
	color: black;
	letter-spacing: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;

}

.container-fluid-10{
	padding-top: 50px;
	background-color: white;
	height: 400px;
	color: white;
}

.container-fluid-10-content{
	background-image: url(../pict/fatahillah_sore.jpg);
	background-position-y: -300px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 50px;
	height: 300px;
}

.container-fluid-11{
	padding-top: 60px;
	background-color: blanchedalmond;
	height: 650px;
	color: rgb(49, 24, 6);
	letter-spacing: 5px;
	text-align: center;
}

.container-fluid-11-content{
	color: black;
	letter-spacing: normal;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
	
}

.container-fluid-12{
	padding-top: 50px;
	background-color: white;
	height: 300px;
	color: white;
}

.container-fluid-12-content{
	background-image: url(../pict/jalan_jakarta.jpg);
	background-position-y: -300px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 50px;
	height: 200px;
}

.cards-wrapper {
	display: flex;
}

.card {
	margin: 50px;
	width: calc(100%/2);
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}


.image-wrapper {
	height: 22vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-wrapper img{
	max-width: 100%;
	max-height: 100%;
}

.carousel {
	position: relative;
 }           

 .carousel-control-prev , .carousel-control-next {
	position: absolute;
	top: 100%;
	transform: TranslateY(-50%);
 }

 .carousel-control-prev {
	right: auto;
	left: 475px;
 }
 .carousel-control-next {
	left: auto;
	right: 475px;
 }


/*Footer*/
.footer{
	position: fixed;
	bottom: 0;
}

.footer-distributed{
	background-color: blanchedalmond;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: thin 16px sans-serif;
	padding: 50px 50px 20px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .logo-size-footer{
	height: 125px;
	width: 150px;
}


/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
	text-align: center;
	margin: 10px 10px;
}

.footer-distributed .footer-center i{
	font-size: 30px;
	width: 40px;
	height: 40px;
	text-align: center;
	margin: 10px 10px;
	vertical-align: middle;
	color:rgb(238, 203, 151);
}

.footer-distributed .footer-center i:hover{
	color: #965628;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
	margin-left: -120px;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
	text-align: center;
	margin: 40px 10px;
}

/*.fixed-footer {
    width: 100%;
    position: relative;
    background:blanchedalmond;
    margin: 0 10px 0 0;
    padding: 10px 0;
    color: black;
    text-align: center;
  }
  .fixed-footer {
    bottom: 0;
  }*/

.fixed-footer{
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 25px;
}

/*Form Footer*/
.form-email{
	width: 235px;
	height: 36px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 10px;
	text-decoration: none;
	border: none;
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	color: #965628;
}

.form-email:focus{
	outline-style: solid;
	outline-color: #965628;
	outline-width: 3px;
}

/*form button*/
.form-button{
	margin-left: 10px;
	height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #965628;
	border-radius: 15px;
	font-size: 14px;
	font-family: 'EB Garamond', serif;
	color: white;
	border:none;
}

.form-button:hover{
	background-color: #663b1d;
}

.form-button:focus{
	outline-style: solid;
	outline-color: #965628;
	outline-width: 3px;
}