body {
    font-family: 'Calibri', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-menu {
    float: right;
    padding-top: 25px;
	padding-right: 25px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.nav-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

.logo {
    float: left;
    margin-top: 25px;
	margin-left: 50px;
}

.logo-size{
	height: 75px;
	width: 100px;
}