body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFCEB2;
}

/*navbar*/
.navigation-1{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
	top: 0;
	width: 100%;
	position: fixed;
	justify-content: space-between;
  	align-items: center;
	z-index: 999;
	/*background-color: white;*/
}

.navbar-background-1{
	background-color: #FFCEB2;
}

.logo {
    float: left;
}

.logo-size{
	height: 75px;
	width: 100px;
}

.navigation-menu-1 {
	float: right;
	/*margin-right: 90px;*/
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.navigation-menu-1 li {
    display: inline;
    list-style-type: none;
	margin-left: 35px;
}

a{
	text-decoration: none;
}

.link-navigation-1{
	color: black;
}

.link-navigation-1:hover{
	color: #B45600;
	padding-bottom: 5px;
	/*border-bottom: 1px solid #B45600;*/
}

/*Jumbotron*/
.jumbotron-1{
    background-image: url(../pict/fatahillah.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

/*Judul*/
.judul-1{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
	text-align: center;
}

.judul{
    letter-spacing: 5px;
	font-weight: bold;
}

/*Content-1*/
